:host{
    h2 {
        background-color: red;
    }
}

:host-context(.theme-dark){
    h2 {
        background: #000;
        color: #fff;
    }
}

//muito cuidado com esse!
::ng-deep{
    .theme-dark{
        border: 5px solid blue;
    }
}